{% extends "./base.html" %}

{% block content %}
   {% if posts %}
  <div class="r_box">
    {% for post in posts %}
    <li><i><<img src="/static/images/1.jpg"></i>
      <h3><a href="{% url 'post' post.id %}">{{ post.title }}</a></h3>
      <p>{{ post.desc }}</p>
    </li>
    {% endfor %}
    <div class="pagelist">
        {% if page_obj.has_previous %}
            {% if query %}
                <a href="{{ url }}?page={{ page_obj.previous_page_number }}&query={{ query }}">上一页</a>&nbsp;&nbsp;
            {% else %}
                <a href="{{ url }}?page={{ page_obj.previous_page_number }}">上一页</a>&nbsp;&nbsp;
            {% endif %}
        {% endif %}
        <a href="{{ url }}?page={{ page_obj.number }}" class="curPage">{{ page_obj.number }}</a>&nbsp;&nbsp;
        {% if page_obj.has_next  %}
            {% if query %}
                <a href="{{ url }}?page={{ page_obj.next_page_number  }}&query={{ query }}">下一页</a>&nbsp;&nbsp;
            {% else %}
                <a href="{{ url }}?page={{ page_obj.next_page_number }}">下一页</a>&nbsp;&nbsp;
            {% endif %}
        {% endif %}

  </div>
     {% else %}
       Empty !
    {% endif %}

{% endblock %}
