{% extends "./base.html" %}


{% block content %}
  <div class="infosbox">
    <div class="newsview">
      <h3 class="news_title">{{ post.title }}</h3>
      <div class="bloginfo">
        <ul>
          <li class="author">作者：<a href="{% url 'author' post.owner_id %}">{{ post.owner.username }}</a></li>
          <li class="lmname"><a href="{% url 'category' post.category_id %}">{{ post.category.name }}</a></li>
          <li class="timer">时间: {{ post.created_time }}</li>
          <li class="view">阅读量: {{ post.pv }}</li>
        </ul>
      </div>

      <div class="tags">
          {% for tag in post.tag.all %}
          <a href="{% url 'tag' tag.id %}" target="_blank">{{ tag.name }}</a> &nbsp;
           {% endfor %}
      </div>

      <div class="news_about">
          <strong>简介</strong>
            {{ post.desc }}
          </div>
      <div class="news_con">
          {% autoescape off %}
            {{ post.html }}
          {% endautoescape %}

      </div>
    </div>
    <div class="share">
      <p class="diggit"><a href="JavaScript:makeRequest('/e/public/digg/?classid=3&amp;id=19&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');"> 很赞哦！ </a>(<b id="diggnum"><script type="text/javascript" src="/e/public/ViewClick/?classid=2&id=20&down=5"></script>13</b>)</p>
    </div>
    <div class="nextinfo">
      <p>上一篇：
                {% if post.next_post %}
            <a href="{% url 'post' post.next_post.id %}">{{ post.next_post.title }}</a></p>
          {% else %}
              没有了
          {% endif %}

      </p>
      <p>下一篇：
          {% if post.prev_post %}
            <a href="{% url 'post' post.prev_post.id %}">{{ post.prev_post.title }}</a>
          {% else %}
              没有了
          {% endif %}
    </div>
    <!--div class="news_pl">
      <h2>文章评论</h2>
        {% include 'comment/block.html' %}
    </div-->
  </div>
{% endblock %}