<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1>BLOG  --by cold <br />
    <a href="/">首页</a>
</h1>

<h3>
    Catergory
</h3>
<ul>
    {% for cate in showCate %}
        <li>{{ cate }}</li>
    {% endfor %}
</ul>
<hr />

<div id="content">
{% block content %}
{% endblock %}
</div>
<div class="sidebar">
    {% if sidebar %}
    {% for sb in sidebar %}
        {% if sb.display_type == 1 %}
            <h3>{{ sb.title }}</h3>

            {{ sb.content }}
        <hr />
        {% elif sb.display_type == 2 %}
            <h3>{{ sb.title }}</h3>
            {% for pos in hotPosts %}
                <li><a href="{% url 'post' pos.id %}">{{ pos.title }}</a></li>
            {% endfor %}
        {% elif sb.display_type == 4 %}
            <h3>{{ sb.title }}</h3>
            {% for comm in comment %}
                <li>{{ comm.content }}</li>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
</div>
</body>
</html>